<?xml version="1.0" encoding="utf-8"?>
<!--SA.CheckTrackingPlatform.Websites.BackOffice-->
<configuration>
	<system.web>
		<httpRuntime enableVersionHeader="false" />
		<authentication mode="None" />
		<customErrors mode="Off" />
		<authorization>
			<allow verbs="HEAD" users="*" />
			<allow verbs="GET" users="*" />
			<allow verbs="POST" users="*" />
			<allow verbs="PUT" users="*" />
			<allow verbs="DELETE" users="*" />
			<allow verbs="OPTIONS" users="*" />
		</authorization>
		<httpHandlers>
			<remove verb="PROPFIND" path="*" />
			<remove verb="COPY" path="*" />
			<remove verb="LOCK" path="*" />
			<remove verb="UNLOCK" path="*" />
			<remove verb="PROPPATCH" path="*" />
			<remove verb="MKCOL" path="*" />
			<remove verb="MOVE" path="*" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="React Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
			<outboundRules rewriteBeforeCache="true">
				<rule name="Remove Server Header" stopProcessing="true">
					<match serverVariable="RESPONSE_SERVER" pattern=".+" />
					<action type="Rewrite" value="Server" />
				</rule>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>